form button {
  margin-top: 30px;
  border: 3px solid #2980b9;
  background: #3498db;
  color: white;
  font-size: 30px; }
  form button:hover, form button:focus {
    background: #2980b9; }

a.share-your-ride {
  border: 3px solid #27ae60;
  background: #2ecc71;
  color: white; }
  a.share-your-ride:hover, a.share-your-ride:focus {
    background: #27ae60; }
