/* global styles */
body {
  font-family: "Varela Round", sans-serif; }

body div {
  display: block; }

.container {
  margin: 0 auto;
  width: 600px; }

.content {
  margin: 1em; }

.center {
  text-align: center; }

form {
  padding: 0; }

a {
  text-decoration: none;
  color: #3498db; }
  a:hover, a:focus {
    color: #2980b9; }

input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  font-size: 20px;
  height: 40px;
  outline: none; }
  input:focus {
    border: 1px solid #3498db; }

label {
  margin-top: 5px;
  margin-bottom: -5px; }

button, a.button {
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  /* default button styles */
  background-color: #3498db;
  border: 3px solid #2980b9;
  color: white; }
  button:hover, button:focus, a.button:hover, a.button:focus {
    background-color: #2980b9; }

a.min-button {
  font-size: 14px;
  border: 1px solid #95a5a6;
  border-radius: 4px;
  padding: 8px; }
  a.min-button:hover {
    border-color: #2980b9; }

.flash {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em; }
  .flash li {
    color: white;
    padding: 10px;
    border-radius: 5px; }
    .flash li.error {
      background-color: #e74c3c; }
    .flash li.success {
      background-color: #2ecc71; }
  .flash a {
    float: right;
    background-color: black;
    color: white;
    opacity: 0.5;
    padding: 0 6px;
    border-radius: 10px;
    text-decoration: none; }
    .flash a:hover {
      opacity: 0.8; }

header {
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px; }
  header a#wordmark {
    text-decoration: none;
    color: #3498db; }
    header a#wordmark:hover, header a#wordmark:focus {
      color: #2980b9; }
  header .logged-in {
    padding-top: 10px;
    font-size: 14px;
    color: #95a5a6;
    text-align: right; }
    header .logged-in span {
      border-right: 1px solid #95a5a6;
      padding-right: 8px; }
    header .logged-in a.login, header .logged-in a.logout {
      padding-left: 5px; }

footer {
  margin-top: 100px;
  color: lightgrey;
  text-align: center; }
