@import variables

/* global styles */

body 
  font-family: 'Varela Round', sans-serif

body div
  display: block 

.container 
  margin: 0 auto
  width: 600px 

.content 
  margin: 1em 

.center
  text-align: center

form
  padding: 0

a
  text-decoration: none
  color: $blue
  &:hover, &:focus
    color: $darkblue

// twitter typeahead styles
input[class^=tt]
  margin-top: 20px
  margin-bottom: 0
span.twitter-typeahead
  width: 100%
span.tt-dropdown-menu
  border-radius: 0 0 5px 5px
  background-color: white
  width: 100%
  span.tt-suggestions
    border: 1px solid $grey
    border-top: none
  div.tt-suggestion
    line-height: 36px
    padding: 0 8px
    p
      padding: 0
      margin: 0
    &.tt-is-under-cursor
      background-color: $green
      color: white


input
  box-sizing: border-box
  width: 100%
  margin: 10px 0
  padding: 5px
  // these styles are really aesthetic now
  border-radius: 5px
  border: 1px solid $lightgrey
  font-size: 20px
  height: 40px
  outline: none
  &:focus
    border: 1px solid $blue

label
  margin-top: 5px
  margin-bottom: -5px

button, a.button
  outline: none
  display: inline-block 
  text-align: center
  text-decoration: none
  border-radius: 10px
  padding: 15px
  margin: 10px 0
  /* default button styles */
  background-color: $blue
  border: 3px solid $darkblue
  color: white
  &:hover, &:focus
    background-color: $darkblue

a.min-button
  font-size: 14px
  border: 1px solid $grey
  border-radius: 4px
  padding: 8px
  &:hover
    border-color: $darkblue

.flash 
  list-style: none
  padding: 0
  margin: 0
  margin-bottom: 1em 
  li
    color: white
    padding: 10px
    border-radius: 5px
    &.error
      background-color: $red
    &.success
      background-color: $green
  a
    float: right
    background-color: black 
    color: white
    opacity: 0.5
    padding: 0 6px
    border-radius: 10px
    text-decoration: none
    &:hover
      opacity: 0.8

header
  margin-bottom: 50px
  text-align: center 
  font-size: 40px

  a#wordmark
    text-decoration: none
    color: $blue
    &:hover, &:focus
      color: $darkblue

  .logged-in
    padding-top: 10px
    font-size: 14px
    color: $grey
    text-align: right
    span
      border-right: 1px solid $grey
      padding-right: 8px
    a.login, a.logout
      padding-left: 5px

footer
  margin-top: 100px
  color: lightgrey
  text-align: center 
