@import variables


#profile
  display: table

.editable
  border: 1px solid transparent
  padding: 2px
  margin: 2px

#profile.edit-mode
  .editable
    border: 1px solid $grey
    &:hover
      border-color: $green

#picture
  display: table-cell
  padding-right: 20px
  img
    border-radius: 10px

#info
  display: table-cell
  width: 100%
  vertical-align: top

  .profile-header
    padding-bottom: 10px
    margin-bottom: 20px
    border-bottom: 1px solid $grey

    span
      font-size: 24px
    a#edit-button
      float: right
      font-size: 14px
      border: 1px solid $grey
      border-radius: 4px
      padding: 5px
      &.save-button
        border-color: $darkgreen
        background-color: $green
        color: white


  .contact
    span
      line-height: 30px
      &:first-child 
        display: inline-block
        width: 6em
        color: $grey

      &:not(first-child) 
        a
          text-decoration: none
          color: $blue
          &:hover
            color: $darkblue

