@import variables


#profile
  display: table

#picture
  display: table-cell
  padding-right: 20px
  img
    border-radius: 10px

#info
  display: table-cell
  vertical-align: top
  .profile-header
    padding-bottom: 10px
    margin-bottom: 20px
    border-bottom: 1px solid $grey
    .name
      font-size: 24px
    a
      float: right
      font-size: 14px
      border: 1px solid $grey
      border-radius: 4px
      padding: 5px
      text-decoration: none
      color: $blue
      &:hover
        color: $darkblue


  .contact
    .desc
      color: $grey

    .content
      a
        text-decoration: none
        color: $blue
        &:hover
          color: $darkblue
      a:after
        content: attr(href)


