@import variables

#ride
  color: $darkgrey
  line-height: 40px
  span
    color: black 


#location
  font-size: 30px
  border-bottom: 1px solid $grey
  padding-bottom: 10px
  margin-bottom: 20px


#driver
  font-size: 24px
