@import variables

body 
  font-family: 'Varela Round', sans-serif

.container 
  margin: 0 auto
  width: 600px 

.content 
  margin: 1em 

header 
  margin-bottom: 50px
  text-align: center 
  font-size: 40px
  font-weight: bold
  a
    text-decoration: none
    color: $blue
  a:hover
    color: $darkblue

footer
  margin-top: 100px
  color: lightgrey
  text-align: center 
