body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 600px;
}

.content {
  padding: 1em;
}

header {
  margin-bottom: 2em;
  border-bottom: 1px dotted black;
  text-align: center;
}

.errors {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

form input {
  width: 100%;
}

footer {
  margin-top: 2em;
  border-top: 1px dotted grey;
  color: lightgrey;
  text-align: center;
}
