{% extends "layout.html" %}

{% block title %} | Share a ride{% endblock %}
{% block head %}
<link href='static/css/driver.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}
<form id=ride-submit action=/submit_ride method=POST>
  <input name=name type=text placeholder="Whats your name?">
  <input name=departure type=text placeholder="Where are you leaving from?">
  <input name=destination type=text placeholder="Where are you headed?">
  <label for=depart-date>When are you leaving?</label>
  <input name=depart-date type=date>
  <label for=depart-time>What time?</label>
  <input name=depart-time type=time>
  <label for=people>How many people?</label>
  <input name=people type=number>
  <button type=submit>Lets go!</button>
</form>
{% endblock %}

{% block beforeclose %}
<script type='text/javascript' src='static/js/geolocation.js'></script>
{% endblock %}
