{% extends "layout.html" %}

{% block head %}
<link href='/static/css/home.css' type='text/css' rel=stylesheet>
{% endblock %}

{% block content %}
<form id=ride-search action=/search method=POST>
  <input name=departure type=text placeholder='Where are you leaving from?' tabindex=1>
  <input name=destination type=text placeholder='Where are you headed?' tabindex=2>
  <div class=center>
    <button name=submit type=submit tabindex=3>Let's go!</button>
  </div>
</form>


<div class=center>
  <a href="{{ url_for('driver') }}" class='button share-your-ride' tabindex=4>
    Share your ride
  </a>
</div>
{% endblock %}

{% block beforeclose %}
<script type='text/javascript' src='static/js/geolocation.js'></script>
{% endblock %}
