<!doctype html>
<html>
  <head>
    <title>Carpools{% block title %}{% endblock %}</title>
    <link href='static/css/normalize.css' rel=stylesheet type=text/css>
    <link href='static/css/style.css' rel=stylesheet type=text/css>
    {% block head %}
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> 
  </head>
  <body>
    <div class=container>
      <header>
      <a href='/'><h1>Carpools</h1></a>
      </header>
      <div class=content>
        {% block content %}
        <p>Welcome to Carpools!</p>
        {% endblock %}
      </div>
      <footer>
      <p> &copy; George Lifchits 2013 </p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% block beforeclose %}
    {% endblock %}
  </body>
</html>
