<!doctype html>
<html>
  <head>
    <title>Carpools{% block title %}{% endblock %}</title>
    <link href='/static/css/normalize.css' rel=stylesheet type=text/css>
    <link href='/static/css/layout.css' rel=stylesheet type=text/css>
    {% block head %}
    {% endblock %}
    <link href='/static/assets/varela-font.css' rel=stylesheet type=text/css>
    <script src='/static/assets/jquery.min.js'></script>
    <!--
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    -->
  </head>
  <body>

    <div class=container>
      <header>
      <div class=logged-in>
        {% if 'user' in session %}
        <span>Hi, <a href=/profile>{{ session.user.name }}</a></span> <a href=/logout class=logout>Log out</a>
        {% else %}
        <a href=/login class=login>Login</a>
        {% endif %}
      </div>
      <a id=wordmark href='/'><h1>Carpools</h1></a>
      </header>
      <div class=content>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flash>
          {% for message in messages %}
          {% set status, msg_text = message %}
          <li class={{ status }}>{{ msg_text }} <a href=# class=close>x</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <p>Welcome to Carpools!</p>
        {% endblock %}
      </div>
      <footer>
      <p> &copy; George Lifchits 2013 </p>
      </footer>
    </div>
    <script src="/static/js/global.js"></script>
    {% block beforeclose %}
    {% endblock %}
  </body>
</html>
