{% extends "layout.html" %}

{% block title %} | Login{% endblock %}
{% block head %}
<link href='/static/css/login.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flash>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form id=login action=/login method=POST>
  <input name=email type=text placeholder="Email address">
  <input name=password type=password placeholder="Password">
  <div class=center>
    <button type=submit>Login</button>
  </div>
</form>

<div class=center>
  <a class='register button' href=/register>Register to be a driver</a>
</div>

{% endblock %}

{% block beforeclose %}
<script type='text/javascript' src='static/js/geolocation.js'></script>
{% endblock %}
