{% extends "layout.html" %}

{% block title %} | Login{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flash>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form id=ride-submit action=/login method=POST>
  <input name=email type=password placeholder="Email address">
  <input name=password type=password placeholder="Password">
  <button type=submit>Login</button>
</form>
{% endblock %}

{% block beforeclose %}
<script type='text/javascript' src='static/js/geolocation.js'></script>
{% endblock %}
