{% extends "layout.html" %}

{% block title %} | Profile{% endblock %}

{% block head %}
<link href='/static/css/profile.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}

<div id=profile>
  <div id=overlay></div>

  <div id=picture>
    {% if '(no file)' in user.photo|string %}
    <img src='/static/assets/noimage.jpg'>
    {% else %}
    <img src='/static/hosted/profile{{ user.id }}.jpg'>
    {% endif %}
  </div>

  <div id=info>
    <div id=profile-header>
      <span id=profile-name>{{ user.name }}</span>
      {% if 'user' in session and session.user.email == user.email %}
      <a id=edit-button href=#>Edit</a>
      {% endif %}
    </div>
    <div id=contact>
      <div id=email>
        <span>Email</span>
        <span id=profile-email>{{ user.email }}</span>
      </div>
      {% if user.phone %}
      <div id=phone>
        <span>Phone</span>
        <span id=profile-phone>{{ user.phone }}</span>
      </div>
      {% endif %}
      {% if user.facebook %}
      <div id=facebook>
        <span>Facebook</span>
        {% if user.facebook.link %}
        {% set facebook_link = user.facebook.link %}
        {% elif user.facebook.user_id %}
        {% set facebook_link = 'facebook.com/' + user.facebook.user_id|string %}
        {% endif %}
        {% if facebook_link %}
        <span class=facebook><a href='http://{{ facebook_link }}'>profile</a></span>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

</div>

<script type=text/javascript src='/static/js/profile_edit.js'></script>

{% endblock %}
