{% extends "layout.html" %}

{% block title %} | Profile{% endblock %}

{% block head %}
<link href='/static/css/profile.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}

<div id=profile>
  <div id=overlay></div>

  <div id=picture>
    <img src=http://placehold.it/150x150><img>
  </div>

  <div id=info>
    <div id=profile-header>
      <input type=text value="{{ user.name }}" disabled>
      {% if 'user' in session and session.user.email == user.email %}
      <a id=edit-button href=#>Edit</a>
      {% endif %}
    </div>
    <div id=contact>
      <div id=email>
        <span>Email</span>
        <input type=text value="{{ user.email }}" disabled>
      </div>
      <div id=phone>
        <span>Phone</span>
        <input type=text value="555-555-5512" disabled>
      </div>
      <div id=facebook>
        <span>Facebook</span>
        <input type=text value="facebook.com/zuck" disabled>
      </div>
    </div>
  </div>

</div>

<script type=text/javascript>
  $('#edit-button').click(function() {
      var profile = $('#profile');

      if (!(profile.hasClass('edit-mode'))) {
        // edits allowed
        console.log('edit clicked');
        profile.addClass('edit-mode');
        $('#edit-button').text('Save').addClass('save-button');
        $('#profile input').each(function() {
          $(this).removeAttr('disabled');
        });

      } else {
        // save changes
        console.debug('save clicked');
        profile.removeClass('edit-mode');
        $('#edit-button').text('Edit').removeClass('save-button');
        $('#profile input').each(function() {
          $(this).prop('disabled', true);
        });
      }
  });
</script>

{% endblock %}
