{% extends "layout.html" %}

{% block title %} | Login{% endblock %}
{% block head %}
<link href='/static/css/register.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}
<h2>Register as a new driver</h2>

<form id=register action=/register method=POST>
  <input name=name type=text placeholder="Your name" tabindex=1>
  <input name=email type=text placeholder="Email address" tabindex=2>
  <input name=password type=password placeholder="Password" tabindex=3>
  <input name=confirm-password type=password placeholder="Confirm password" tabindex=4>
  <div class=center>
    <button type=submit tabindex=5>Register</button>
  </div>
</form>

{% endblock %}

{% block beforeclose %}
<script type='text/javascript' src='static/js/geolocation.js'></script>
{% endblock %}
