{% extends "layout.html" %}

{% block title %} | Ride{% endblock %}

{% block head %}
<link href='/static/css/show_ride.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}

<div id=ride>
  <div id=location>
    <span>{{ ride.departure }}</span> to
    <span>{{ ride.destination }}</span>
  </div>
  <div id=driver>
    <span>{{ ride.driver }}</span> is driving
  </div>
  <div id=info>
    Departs at <span class="departure-time">{{ ride.depart_date|datetime }}</span><br/>
    There are <span>{{ ride.people }}</span> spots in the vehicle
  </div>
</div>

{% endblock %}
