{% extends "layout.html" %}

{% block title %} | Ride{% endblock %}

{% block head %}
<link href='/static/css/show_ride.css' rel=stylesheet type=text/css>
{% endblock %}

{% block content %}

<div id=ride>
  <div id=driver>
    {{ ride.driver }}
  </div>
  <div id=location>
    {{ ride.departure }} -> {{ ride.destination }}
  </div>
  <div id=info>
    Departs at <span class="departure-time">{{ ride.depart_date }}</span><br/>
    There are {{ ride.people }} spots in the vehicle
  </div>
</div>

{% endblock %}
